@model IEnumerable<AtomHealth.Models.MedicalCoverage>
@*@model AtomHealth<AtomHealth.Models.MedicalCoverage, IEnumerable<ProjectX.Models.Student>>*@
@{
    ViewData["Title"] = "MedicalCoverageList";
}

<h1>Medical Coverage List</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                Health Care Plan
            </th>
            <th>
                Coverage
            </th>
            <th>
                Health ID
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.HealthCarePlan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coverage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthID)
                </td>

                <td>

                    <a asp-action="DeleteCoverage" asp-route-id="@item.MedicalCoverageID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<p style="color:red">*At least one medical coverage plan must be provided.</p>
<button><a asp-action="MedicalCoverageAdd">Add Medical Coverage</a></button>
