@model AtomHealth.Models.GenerateRandomCode

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>GenerateRandomCode</h4>
<hr />
<div class="row">e
    <div class="col-md-4">
        <form asp-action="GenerateRandomCodeViewWithCheck" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*<input asp-for="GenerateRandomCodeID" class="form-control" type="hidden" />*@
            <div class="form-group">
                <label asp-for="RandomCode" class="control-label"></label>
                <input asp-for="RandomCode" class="form-control" name="DoctorEnteredCode" />
                <span asp-validation-for="RandomCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

