@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Thank You for registering with us. Please check your email to confirm and activate your account.
    </p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
